//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

<!DOCTYPE html>
html(lang="ru")
	
	head
		include ./../layouts/index/head.pug
	
	body.fp
		include ./../layouts/index/header.pug

		main.fp_main#fp_main Page 405!

		include ./../components/index/sidebar.pug

		include ./../layouts/index/footer.pug