//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

aside.fp_sidebar#fp_sidebar
	section.fp_sidebar-block.fp_sidebar-menu
		header.fp_sidebar-block_header.fp_sidebar-menu_header
		nav.fp_sidebar-menu_main
		footer.fp_sidebar-block_footer.fp_sidebar-menu_footer