//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

footer.fp_footer#fp_footer

script(src="/js/common.js")
script(src="/js/index.js")