//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Page Index
link(rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png")
link(rel="stylesheet" href="/styles/admin.css")
link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")