//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

<!DOCTYPE html>
html(lang="ru")
	
	head
		include ./../../layouts/admin/head.pug
	
	body.fp
		include ./../../layouts/admin/header.pug

		main.fp_main#fp_main Page Admin!

		include ./../../components/admin/sidebar.pug

		include ./../../layouts/admin/footer.pug